body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    height: auto;
}


/** HEADER **/

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    margin-bottom: 20px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #222;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    /*Removing the link underline in the navbar list*/
    text-decoration: none;
}

.navbar-brand p {
    /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

#logo-img {
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 0px 20px 10px 0;
}

.navbar-brand p span {
    /* Star-K */
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a span {
    font-size: 2.3em;
}

#nav-list a:hover {
    background: #E7E7E7;
}

.phone {
    margin-top: 5px;
}

.phone a {
    text-align: right;
    padding-bottom: 0;
}

.phone div {
    color: #557c3e;
    text-align: center;
    padding-right: 15px;
}

.navbar-light .navbar-toggler {
    /*To change the color of the hamburger icon*/
    border: 1px solid #61122f;
}

.navbar-toggler .navbar-toggler-icon {
    /*This is a bootstrap which includes the 3 vertical line image in hamburger*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(97, 18, 47,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* END HEADER */


/*Main Page*/

.main-content {
    height: auto;
}


/* Jumbotron */

.jumbotron {
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}


/* End Jumbotron */


/*Tiles*/

.menu-tile,
.menu-tile-small,
.specials-tile,
.specials-tile-small,
.maps-tile,
.maps-tile-small {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

.menu-tile:hover,
.menu-tile-small:hover,
.specials-tile:hover,
.specials-tile-small:hover,
.maps-tile:hover,
.maps-tile-small:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

.menu-tile {
    background: url('../images/menu-tile.jpg') no-repeat;
    background-position: center;
}

.specials-tile {
    background: url('../images/specials-tile.jpg') no-repeat;
    background-position: center;
}

.menu-tile span,
.specials-tile span,
.menu-tile-small span,
.specials-tile-small span,
.maps-tile span,
.maps-tile-small span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}


/* End Menu Tiles */

.category-title {
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-title span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}

.category-title:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

.menu-categories-title+div {
    margin-bottom: 50px;
}

.menu-categories-title {
    margin-bottom: 20px;
}


/*Footer*/

.card-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222222;
    border-top: 0;
}


/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */

hr {
    background-color: #fff;
}

.card-footer div.row {
    margin-bottom: 35px;
}

.hours,
.address,
.testimonials {
    line-height: 2;
}

.hours>span,
.address>span,
.testimonials>span {
    font-size: 1.3em;
}

.address p {
    color: #557c3e;
    font-size: 0.8em;
    line-height: 1.8;
}

.testimonials p {
    font-style: italic;
    font-size: 0.8em;
}

.testimonials p:nth-child(2) {
    margin-top: 25px;
}


/********** XLarge devices only **********/

@media (min-width: 1200px) {
    /** HEADER **/
    h1 {
        margin-top: 20px;
    }
    #nav-list a {
        margin-top: -10px;
    }
    .nav-link {
        text-align: right!important;
    }
    /* END HEADER */
    /* Jumbotron */
    .jumbotron {
        background: url("../images/jumbotron_1200.jpg") no-repeat;
        height: 675px;
    }
    /*End Jumbotron*/
}


/********** Large devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    #logo-img {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 15px 0 0;
    }
    #nav-list a span {
        font-size: 1.5em;
    }
    #nav-list {
        margin-top: -10px;
    }
    /* End Header */
    /* Jumbotron */
    .jumbotron {
        background: url("../images/jumbotron_992.jpg") no-repeat;
        height: 558px;
    }
    /*End Jumbotron*/
    /*Footer*/
    .address p {
        font-size: 0.6em;
        line-height: 1.2;
        margin-top: 7px;
    }
    /*End Footer*/
}


/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
    #nav-list a {
        font-size: 1em;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 2.5vw;
        /* 1vw = 1% of viewport width */
    }
    #nav-list {
        margin-top: 1px;
    }
    #nav-list a span {
        font-size: 1.2em;
    }
    .phone div {
        font-size: 14px;
    }
    /* Jumbotron */
    .jumbotron {
        background: url("../images/jumbotron_768.jpg") no-repeat;
        height: 432px;
    }
    /*End Jumbotron*/
    /*Menu Categories*/
    .p-info {
        font-size: 0.8em;
    }
    /*End Menu Categories
    /*Footer*/
    .address p {
        font-size: 0.6em;
        line-height: 1.5;
    }
    .testimonials p {
        font-style: italic;
        font-size: 0.7em;
    }
    .testimonials {
        padding-left: 3px;
        padding-right: 3px;
    }
    /*End Footer*/
}


/*Small Devices Only*/

@media (max-width:767px) and (min-width:576px) {
    .navbar-expand-md>.container {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 3.5vw;
    }
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img {
        height: 20px;
    }
    .navbar-toggler {
        margin-top: -6px;
    }
    .navbar-toggler .navbar-toggler-icon {
        font-size: x-small;
    }
    #collapsable-nav a {
        /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span {
        /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    .nav-item a span {
        font-size: large!important;
        vertical-align: middle;
        margin-right: 5px;
    }
    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
        margin-left: 0px!important;
    }
    .call-btn a {
        font-size: 1.5em;
        display: block;
        margin-top: 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
    }
    .xs-deliver {
        margin-top: 10px;
        margin-left: 3vw;
        text-align: center;
        font-size: 0.7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* End Header */
    /* Jumbotron */
    .jumbotron {
        margin-top: 30px;
        padding: 0;
    }
    /*Menu Categories*/
    .menu-categories-title {
        margin-top: 25px;
    }
    .p-info {
        font-size: 0.6em;
    }
    /*End Menu Categories
    /*Footer*/
    .card-footer section {
        margin-bottom: 0px;
        text-align: center;
    }
    .card-footer section:nth-child(3) {
        margin-bottom: 0;
    }
    hr {
        width: 90%;
    }
    .address p {
        font-size: 0.6em;
        line-height: 1.5;
    }
    /*End Footer*/
}


/*XS Device*/

@media (max-width: 575px) {
    /* Header */
    #header-nav {
        padding-right: 5px;
        padding-left: 5px;
    }
    .navbar-expand-md>.container {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 3.5vw;
        text-shadow: 0px 1px 1px #222;
    }
    .navbar-brand p {
        font-size: 2.6vw;
        margin-top: 12px;
    }
    .navbar-brand p img {
        height: 20px;
    }
    .navbar-toggler {
        margin-top: -6px;
    }
    .navbar-light .navbar-toggler {
        font-size: xx-small;
    }
    .nav-item a span {
        font-size: x-large!important;
        vertical-align: middle;
        margin-right: 5px;
    }
    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
        margin-left: 0px!important;
    }
    .call-btn a {
        font-size: 4vw;
        display: block;
        margin-top: 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
    }
    .xs-deliver {
        text-align: center;
        margin-top: 7px;
        margin-left: 3vw;
        font-size: 2vw;
        letter-spacing: .1em;
        text-transform: uppercase;
        margin-left: 5px;
    }
    /* End Header */
    /* Jumbotron */
    .jumbotron {
        margin-top: 30px;
        padding: 0;
    }
    .menu-tile,
    .specials-tile,
    .maps-tile {
        width: 260px;
        margin: 0 auto 15px;
    }
    .menu-tile-small,
    .specials-tile-small,
    .maps-tile-small {
        height: auto;
    }
    .img-fill {
        width: 100%;
        height: auto;
    }
    /*End Jumbotron*/
    .menu-categories-title {
        margin-top: 25px;
        font-size: 1.5em;
    }
    .p-info {
        font-size: 2.0vw;
    }
    /*End Menu Categories
    /*Footer*/
    .card-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    .card-footer section:nth-child(3) {
        margin-bottom: 0;
    }
    .address span {
        font-size: 1.4em;
    }
    .hours,
    .address {
        font-size: 0.6em;
    }
    hr {
        width: 90%;
    }
    .address p {
        font-size: 0.9em;
        margin-top: 15px;
        line-height: 1.2;
    }
    .testimonials p {
        font-size: 0.6em;
    }
    .copyright {
        font-size: 0.6em;
    }
}